{% extends 'base.html' %}
{% block title %}
        {{ recipe_object.title }}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <p>{{ recipe_object.description }}</p>
        <p>{{ recipe_object.created_on }}</p>
        <div>4.3 Stars</div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>1 cup</td>
                    <td>Green Beans</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <div>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>Blanch the green beans.</li>
                {% endfor %}
            </ol>
        </div>
    </main>
{% endblock content %}
