{% extends 'base.html' %}

{% block title %}{{ recipe_object.title }}{% endblock title %}
{% block content %}
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save Edited Recipe</button>
        </form>
    </main>
</body>
{% endblock content %}
