{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="page-layout">
            {% for recipe in recipe_list %}
            <div>
                <h3><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h3>
                <img src="{{ recipe.picture }}"></img>
                <p>{{ recipe.created_on|date:"N d, Y"}}</p>
                <div>4.3 Stars</div>
            </div>
            {% empty %}
            There are no recipes.
            {% endfor %}
        </div>
    </main>
{% endblock content %}
